body{
  background-color: black;
  background-image: url("https://i.pinimg.com/originals/5d/f5/de/5df5de94878b01568f9f7a9b1c6d0129.png");
}

h1 {
  border: white solid 4px;
  border-radius: 10px;
  padding: 4px;
  margin: 2px;
  color: white;
  text-align: center;
}

.sidebar {
  float: left;
  width: 300px;
  background-color: #5b0707;
  border: white solid 4px;
}
.possum{
  float: center;
  border: white solid 4px;
  padding: 4px;
  margin-left: 5.4em;
}
h2{
  color: white;
}
.riddle{
  text-align: center;
  border: white solid 4px;
  color: white;
}

.planet {
  font-weight: bolder;
  color: white;
  font-style: oblique;
}

.column {
  float: right;
  width: 300px;
  background-color: #5b0707;
  border: white solid 4px
}
